*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.titre {
    display: flex;
}
h1 {
    padding: 6px;
    width: 92%;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}

.plus {
    height: 60px;
    width: 50px;
    margin-left: 10px;
    font-weight: 800;
    font-size: 20px;
}

.card {
    width: 260px;
    margin: 10px;
}
.edit button{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}
.edit button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.boy,
.girl {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px 20px;
}

.girl,
.benttt {
    background-color: rgb(254, 236, 214);
}

.boy {
    background-color: rgb(216, 230, 255);
}

.blue {
    background-color: rgb(144, 182, 254);
}

.pink {
    background-color: rgb(242, 214, 180);
}

.bentt {
    background-color: chocolate;
}

.h2 {
    color: chocolate;
}

span {
    background-color: rgb(106, 106, 232);
    margin: 5px 10px;
    font-size: 18px;
    padding: 5px;
    
}

h4 {
    background-color: rgb(216, 230, 255);
    height: 40px;
    padding-top: 5px;
}

h2 {
    color: rgb(106, 106, 232);
    text-align: center;
}
h3{
    font-size: 22px;
    text-align: center;
}

#form {
    display: none ;
}

h5 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

input ,
select {
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #000;
    width: 32% !important;
    margin-left: 10px;
}
#specialite{
    width: 65% !important;

}
.ajouter {
    width: 35%;
    height: 50px;
    margin-left: 350px;

}
.changer{
    display: none;
}
.icon img{
    height: 300px;
    width: 300px;
    margin-left: 380px;

}
.supp p{
    text-align: center;
    color: #163874;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
}

.Confirmer{
    background-color: #163874;
    color: #fff;
    padding: 8px 0px;
    margin-left: 50px;
    font-size: 20px;
}
.Confirmer:hover{
    background-color: #163874;
    color: #fff;
}
.Annuler{
    padding: 8px 50px;
    margin-left: 8px;
    font-size: 20px;
}
.supp{
    display: none ;
}
/* css for phone */
@media screen and (max-width:768px){
    h1{
        height: 60px;
        padding: 10px;
    }
    #cardes{
        margin: 0px 10px;
    }
    .plus{
        margin-left: 0px;

    }
}